
/* ------------HEADER----------*/
@import url('https://fonts.googleapis.com/css?family=Wire+One');
@import url('https://fonts.googleapis.com/css?family=Heebo:900');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
body{
  font-family: 'Noto Serif', serif;
  width: 80%;
  margin: auto;
}
header{
  margin-top: 30px;
}
.logo-block img{
  float: left;
}
.logo-block li:first-child{
  font-family: cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}
.logo-block li:last-child{
  font-family: 'Wire One', sans-serif;
  color: gray;
}
.logo-block {
  display: inline-block;
}
#icon-bar li{
  display: inline-block;
}
#icon-bar{
  float: right;
  margin: 10px;
}
hr{
  height: 10px;
  margin-top: 30px;
}


/* ---------------ARTICLE------------ */
article{
  margin-top: 40px;
}
#headline{
  display: inline-block;;
}
#headline li:first-child{
  font-family: 'Heebo', sans-serif;
  font-size: 40px;
}
#headline li:last-child{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(201, 197, 197);
}
#print{
  float: right;
}
#print li{
  margin-top: 40px;
  display: inline-block;
  font-size: 12px;
  color: rgb(201, 197, 197);
}
#hero{
  width:100%;
  margin-top: 30px;
}
button{
  float: right;
}
p{
  margin-top: 30px;
}
div{
  background-image: url("img/list-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  font-size: 20px;
  box-shadow: 5px 10px #bdbaba;
}
div ul{
  list-style-type: square;
  display: inline-block;
  margin-top: 30px;
  padding-left: 80px;
  padding-bottom: 30px;
  line-height: 25px;
  font-family: 'Shadows Into Light', cursive;
  color: gray;
}
button{
  border: none;
  background: rgb(153, 71, 41);
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 25px;

}


/* ---------------FOOTER------------------ */
footer hr{
  width: 445px;
  display: inline-block;
  margin-top: 30px;
  height:1px;
}
footer img{
  display: inline-block;
  margin-top: 30px;
}
footer ul{
  text-align: center;
  margin-top:30px;
  margin-bottom: 70px;
  color: rgb(199, 195, 195);
} 